@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<section id="pictureAbout">
    <img src="~/images/swanepoel.jpg" width="1000" height="400" alt="" />
</section>
<div class="aboutText">
    <p>
        You can now purchase items all around the world and
        enjoy free shipping (for orders over $100). For your convenience,
        while browsing the Castro website you'll be able to change the shipping country,
        as well as the currency in which prices are displayed.Castro's international
        shipping service is operated in cooperation with Global-E.
    </p>
    <p>
        Shipping options and delivery timescales depend on the shipping destination.
        Most items are dispatched from our warehouses within  2 working days.
        Delivery time varies depending on your chosen shipping option. During checkout,
        the available shipping options for your chosen destination will be displayed
        alongside their estimated delivery timescales.Please note that although we make
        every effort to dispatch your order within the estimated timescale, shipping dates
        may be updated.
    </p>
</div>